body {

    background-color: grey;
    font-family: arial;
    font: size 16px; 
}
.title {
     color: #ffffff;
    font-size: 50px;
}
   h1{ font-size:50px;
    border-bottom: 2px solid black;
    font-weight: normal;
    padding-bottom: 5px;
   }
    p.title {
     font-size: 18px;
    }

 .row{
     background: url(/img/254529652_3163065677303096_1645375283673146901_n.jpg);
     width: 135px;
     height: 135;
     display: table-cell;
     vertical-align: middle;
     text-align: center;
     line-height: 135px;
     margin: 0px;
     padding: 0px;
 }