 body{
    margin: 0;
    font-family: initial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #fff;
    background-color: gray;
 

 *}
 
 *:before,
 *:after{
    box-sizing: border-box;
 }

 h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }

 /*Contaiter*/
 .container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
 }

 /* Intro*/
 .intro{
   justify-content: center;
   display: flex;
   align-items: center;
   height: 40em;
   
 }


 .intro_title {
    color: #fff;
   text-align: center;
   line-height: 1;
   font-size: 150px;
   font-weight: 700;
   text-transform: uppercase;
 }

 .intro_iner{
   width: 100%;
   max-width: 880px;
   margin: 0 auto;
   text-align: center;
 }



 /*Header*/
 .header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
 }

 .header_iner{ 
 display: flex;
 justify-content: space-between;
 align-items: center;

 }

 .header_logo{
    font-size: 30px;
    font-weight: 700;
    color : #333;
 }

 /*Nav*/

 .nav{
    font-size: 14px;
    text-transform: uppercase;
    transition: color .1s linear;
 }

 .nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
   
 }

 .nav_link::after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
   opacity: 0;
   background-color: #333;
   transition: opacity .1s linear;
}

 .nav_link:hover{
    color:#333;
 }
 .nav_link:hover:after,
 .nav_link.active:after{
 opacity: 1;


 }
 .nav_link.active{
    color: #333;
 }


 /*Btn*/

 .btn{

    margin: 100px auto;

 
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
   transition: background .3s linear, color .1s linear;
 }

 .btn:hover{

   background-color: #fff;
   color: #000;

 }




 /*Section*/

 .section{

   padding: 80px 0;

 }
 .section_header{
    
    margin-bottom: 40px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;


 }
 .section_suptitle{
    margin: 30px;
 }

 .section_title{
    margin:40px auto ;
 }

 



 /*about*/

 .about{
   display: flex;
   justify-content: space-between;
 
 }


 .about_item{
   width: 30%;



 }


 .about_img{
    width: 300px;
    height: 300px;
    margin: 0 0;
    
  
    margin-bottom: 40px;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;

 }
